<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>vegetable</key>
	<array>
		<dict>
			<key>imageCount</key>
			<integer>4</integer>
			<key>english</key>
			<string>wintermelon</string>
			<key>chinese</key>
			<string>冬瓜</string>
		</dict>
		<dict>
			<key>imageCount</key>
			<integer>3</integer>
			<key>english</key>
			<string>tofu</string>
			<key>chinese</key>
			<string>豆腐</string>
		</dict>
		<dict>
			<key>imageCount</key>
			<integer>4</integer>
			<key>english</key>
			<string>sprouts</string>
			<key>chinese</key>
			<string>豆芽</string>
		</dict>
		<dict>
			<key>imageCount</key>
			<integer>5</integer>
			<key>english</key>
			<string>eggplant</string>
			<key>chinese</key>
			<string>茄子</string>
		</dict>
		<dict>
			<key>imageCount</key>
			<integer>3</integer>
			<key>english</key>
			<string>potato</string>
			<key>chinese</key>
			<string>土豆</string>
		</dict>
		<dict>
			<key>imageCount</key>
			<integer>5</integer>
			<key>english</key>
			<string>carrot</string>
			<key>chinese</key>
			<string>胡萝卜</string>
		</dict>
		<dict>
			<key>imageCount</key>
			<integer>5</integer>
			<key>english</key>
			<string>chili</string>
			<key>chinese</key>
			<string>辣椒</string>
		</dict>
	</array>
	<key>animal</key>
	<array>
		<dict>
			<key>imageCount</key>
			<integer>4</integer>
			<key>english</key>
			<string>dog</string>
			<key>chinese</key>
			<string>狗</string>
		</dict>
		<dict>
			<key>imageCount</key>
			<integer>6</integer>
			<key>english</key>
			<string>cat</string>
			<key>chinese</key>
			<string>猫</string>
		</dict>
		<dict>
			<key>imageCount</key>
			<integer>4</integer>
			<key>english</key>
			<string>cow</string>
			<key>chinese</key>
			<string>牛</string>
		</dict>
		<dict>
			<key>imageCount</key>
			<integer>5</integer>
			<key>english</key>
			<string>sheep</string>
			<key>chinese</key>
			<string>羊</string>
		</dict>
		<dict>
			<key>imageCount</key>
			<integer>5</integer>
			<key>english</key>
			<string>pig</string>
			<key>chinese</key>
			<string>猪</string>
		</dict>
		<dict>
			<key>imageCount</key>
			<integer>5</integer>
			<key>english</key>
			<string>elephant</string>
			<key>chinese</key>
			<string>大象</string>
		</dict>
	</array>
	<key>fruit</key>
	<array>
		<dict>
			<key>imageCount</key>
			<integer>3</integer>
			<key>english</key>
			<string>pear</string>
			<key>chinese</key>
			<string>梨</string>
		</dict>
		<dict>
			<key>imageCount</key>
			<integer>3</integer>
			<key>english</key>
			<string>orange</string>
			<key>chinese</key>
			<string>橘子</string>
		</dict>
		<dict>
			<key>imageCount</key>
			<integer>3</integer>
			<key>english</key>
			<string>apple</string>
			<key>chinese</key>
			<string>苹果</string>
		</dict>
		<dict>
			<key>imageCount</key>
			<integer>3</integer>
			<key>english</key>
			<string>peach</string>
			<key>chinese</key>
			<string>桃子</string>
		</dict>
		<dict>
			<key>imageCount</key>
			<integer>2</integer>
			<key>english</key>
			<string>banana</string>
			<key>chinese</key>
			<string>香蕉</string>
		</dict>
		<dict>
			<key>imageCount</key>
			<integer>5</integer>
			<key>english</key>
			<string>strawberry</string>
			<key>chinese</key>
			<string>草莓</string>
		</dict>
		<dict>
			<key>imageCount</key>
			<integer>5</integer>
			<key>english</key>
			<string>pineapple</string>
			<key>chinese</key>
			<string>菠萝</string>
		</dict>
		<dict>
			<key>imageCount</key>
			<integer>5</integer>
			<key>english</key>
			<string>lemon</string>
			<key>chinese</key>
			<string>柠檬</string>
		</dict>
		<dict>
			<key>imageCount</key>
			<integer>5</integer>
			<key>english</key>
			<string>grape</string>
			<key>chinese</key>
			<string>葡萄</string>
		</dict>
	</array>
	<key>jiaju</key>
	<array>
		<dict>
			<key>imageCount</key>
			<integer>5</integer>
			<key>english</key>
			<string>window</string>
			<key>chinese</key>
			<string>窗户</string>
		</dict>
		<dict>
			<key>imageCount</key>
			<integer>6</integer>
			<key>english</key>
			<string>lamp</string>
			<key>chinese</key>
			<string>台灯</string>
		</dict>
		<dict>
			<key>imageCount</key>
			<integer>6</integer>
			<key>english</key>
			<string>door</string>
			<key>chinese</key>
			<string>门</string>
		</dict>
		<dict>
			<key>imageCount</key>
			<integer>5</integer>
			<key>english</key>
			<string>chair</string>
			<key>chinese</key>
			<string>椅子</string>
		</dict>
		<dict>
			<key>imageCount</key>
			<integer>4</integer>
			<key>english</key>
			<string>table</string>
			<key>chinese</key>
			<string>桌子</string>
		</dict>
	</array>
	<key>music</key>
	<array>
		<dict>
			<key>imageCount</key>
			<integer>3</integer>
			<key>english</key>
			<string>piano</string>
			<key>chinese</key>
			<string>钢琴</string>
		</dict>
		<dict>
			<key>imageCount</key>
			<integer>4</integer>
			<key>english</key>
			<string>drum</string>
			<key>chinese</key>
			<string>鼓</string>
		</dict>
		<dict>
			<key>imageCount</key>
			<integer>4</integer>
			<key>english</key>
			<string>guitar</string>
			<key>chinese</key>
			<string>吉他</string>
		</dict>
		<dict>
			<key>imageCount</key>
			<integer>4</integer>
			<key>english</key>
			<string>trumpet</string>
			<key>chinese</key>
			<string>小号</string>
		</dict>
		<dict>
			<key>imageCount</key>
			<integer>5</integer>
			<key>english</key>
			<string>violin</string>
			<key>chinese</key>
			<string>小提琴</string>
		</dict>
	</array>
	<key>traffic</key>
	<array>
		<dict>
			<key>imageCount</key>
			<integer>4</integer>
			<key>english</key>
			<string>plane</string>
			<key>chinese</key>
			<string>飞机</string>
		</dict>
		<dict>
			<key>imageCount</key>
			<integer>4</integer>
			<key>english</key>
			<string>train</string>
			<key>chinese</key>
			<string>火车</string>
		</dict>
		<dict>
			<key>imageCount</key>
			<integer>5</integer>
			<key>english</key>
			<string>ship</string>
			<key>chinese</key>
			<string>船</string>
		</dict>
		<dict>
			<key>imageCount</key>
			<integer>5</integer>
			<key>english</key>
			<string>truck</string>
			<key>chinese</key>
			<string>卡车</string>
		</dict>
	</array>
</dict>
</plist>
